:root {
  --mainColor: rgb(56, 127, 104);
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: Almarai, Arial, Helvetica, sans-serif;
  text-align: center;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 0.8em;
  }
}

.loader {
  position: absolute;
  left: 50vw;
  width: 2em;
  height: 2em;
  border-left: 0.15em solid white;
  border-right: 0.15em solid white;
  border-bottom: 0.15em solid black;
  border-top: 0.15em solid black;
  border-radius: 50%;
  animation: loader 1s infinite linear;
  margin: 1em;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header {
  position: relative;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 5em;
  background-color: black;
  color: white;
  margin-bottom: 1em;
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;

  z-index: 3;
}
#mainTitle {
  font-size: 2em;
  font-weight: bold;
  margin: 0.5em;
}

.btn {
  color: black;
  border: 0.2em solid var(--mainColor);
  border-radius: 0.25em;
  margin: 0.5em;
  padding: 0.25em;
  cursor: pointer;
}
.btn:hover {
  background-color: lightgray;
}
.btn:focus {
  background-color: var(--mainColor);
  color: white;
}
#getStarted {
  font-size: 1.2em;
}
#cover {
  background-color: lightgray;
  opacity: 0.75;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 110vw;
  height: 110vh;
  display: none;
}
