#sideBar {
  width: fit-content;
  height: 100%;
  font-size: 1.5em;
  background-color: #ffff;
  position: fixed;
  top: 0;
  left: -50vw;
  z-index: 9999;
  display: flex;
  justify-content: left;
  align-items: flex-start;
  flex-wrap: wrap;
  overflow: hidden;
  border: 0.2em solid black;
  transition: all 0.5s ease-in-out;
}
